Objectives:

-Clean up dataset

-Find data errors

-If possible correct data errors

Data:
    - Various levels of granularity one row per loan, one loan per accounting/cash flow event
    
A calendar monthly summary of a loan's life cycle from
origination thru monthly payments to
maturity/default/prepayment.

These are monthly-paying amortizing loans
that can be **fully or partially prepaid at any time without
penalty.**

Loans frequently go delinquent and if any payment exceeds ~120 days late (dpd>120) that loan defaults.

- brief summary of problem and approachs/solution

- data quality report detailing frequency of errors

- documented code (and executable if relevant)

- cleaned dataset

** Data Dictionary **

- loanId : A unique identifier assigned to each loan
- mob : 'month on balance'. An integer indexing calendar months for each
loan starting at zero at loan origination. The first scheduled payment
falls in month on balance one.
- loanAmount : Amount of loan in US$
- origDate : Date of loan origination. Funds are disbursed on this
date.
- obsDate : Observation Date. Loan status, specifically the 'dpd'
value is measured as of the end of this day, the last day of the calendar month.
- dueDate : The monthly scheduled payment due date. This is fixed at
origination date. Each month an additional payment is due. When
payments are received they are applied to the earliest due payment.
- dpd : 'Days Past Due', measures the worst status achieved for a loan
within the calendar month in terms of days late. 'dpd' is a monthly
maximum of a daily series you don't have access to. The daily days
past due variable counts the number of days the oldest due payment is late.
- dpdEom : 'Days Past Due End Of Month'. This the value of the daily
days past due on the observation date. The number of days late for the
oldest unsatisfied payment. For instance if a payment is late
intra-month but made by the end of the month, then dpd will be
non-zero and dpdEom will be zero.

In [1]:
import pandas as pd
import numpy as np

In [2]:
raw_data = pd.read_csv('/Users/armanarkilic/Desktop/BlueElephant/becm_challenge_data.csv')

In [3]:
raw_data.head()

   loanId  mob  loanAmount    origDate     obsDate     dueDate  dpd  dpdEom
0   40258    0        4000  2010-01-04  2010-01-31         NaN    0       0
1   40258    1        4000  2010-01-04  2010-02-28  2010-02-04    0       0
2   40258    2        4000  2010-01-04  2010-03-31  2010-03-04    0       0
3   40258    3        4000  2010-01-04  2010-04-30  2010-04-04    0       0
4   40258    4        4000  2010-01-04  2010-05-31  2010-05-04    0       0

In [4]:
raw_data.tail()

,loanId,mob,loanAmount,origDate,obsDate,dueDate,dpd,dpdEom
12491640,813384,1,5500,2017-05-31,2017-06-30,2017-06-30,0,0
12491641,813387,0,2000,2017-05-31,2017-05-31,NaN,0,0
12491642,813387,1,2000,2017-05-31,2017-06-30,2017-06-30,0,0
12491643,813390,0,11000,2017-05-31,2017-05-31,NaN,0,0
12491644,813390,1,11000,2017-05-31,2017-06-30,2017-06-30,0,0

In [5]:
# At first glance, I see that there are plenty of NaN for due date column

In [6]:
# Check which column includes NaN
raw_data.isnull().any()

loanId        False
mob           False
loanAmount    False
origDate      False
obsDate       False
dueDate        True
dpd           False
dpdEom        False
dtype: bool

In [7]:
# Good news, NaN isolated to due date, let's find how many NaN in this column
nan_ct = sum(pd.isnull(raw_data['dueDate']))

# What percentage of the dueDate is problematic?
print(nan_ct/raw_data.shape[0]*100)

# So about 5% of the dueDates are missing. Is there a way to recover this info?

5.59245799893

In [8]:
# I could simply drop this information: raw_data.dropna() but I think there is a nicer solution
# I see that there are many similar loanId, some have dueDate information some don't. I will get the
# indexes of those missing the dueDate and extract the loanIds. Then fetch the dueDate using these loanIds.

nan_index = pd.isnull(raw_data).any(1).nonzero()[0]
print(nan_index)
print(len(nan_index))
assert nan_ct == len(nan_index)

[       0       37       70 ..., 12491639 12491641 12491643]
698590

In [9]:
# Assert does not raise and visual inspection suggests I got the right index.
# Lets capture the very first element in it and show you guys this is one of the missing rows
raw_data.ix[nan_index[0]]

loanId             40258
mob                    0
loanAmount          4000
origDate      2010-01-04
obsDate       2010-01-31
dueDate              NaN
dpd                    0
dpdEom                 0
Name: 0, dtype: object

In [10]:
# Now compose a list of all loanIds with NaN dueDate

nan_loanIds = [raw_data.ix[i]['loanId'] for i in nan_index]

In [11]:
# Visually confirm this returns something that makes sense, it does as the info from head and tail shows
print(nan_loanIds[0])
print(nan_loanIds[-1])

40258
813390

In [12]:
# Next, I want to verify if I am on the right track. The best way to do this is to visually inspect a single loan.
# For no particular reason, I pick the first loan to inspect. 
raw_data.loc[raw_data['loanId']==nan_loanIds[0]]

    loanId  mob  loanAmount    origDate     obsDate     dueDate  dpd  dpdEom
0    40258    0        4000  2010-01-04  2010-01-31         NaN    0       0
1    40258    1        4000  2010-01-04  2010-02-28  2010-02-04    0       0
2    40258    2        4000  2010-01-04  2010-03-31  2010-03-04    0       0
3    40258    3        4000  2010-01-04  2010-04-30  2010-04-04    0       0
4    40258    4        4000  2010-01-04  2010-05-31  2010-05-04    0       0
5    40258    5        4000  2010-01-04  2010-06-30  2010-06-04    0       0
6    40258    6        4000  2010-01-04  2010-07-31  2010-07-04    0       0
7    40258    7        4000  2010-01-04  2010-08-31  2010-08-04    0       0
8    40258    8        4000  2010-01-04  2010-09-30  2010-09-04    0       0
9    40258    9        4000  2010-01-04  2010-10-31  2010-10-04    0       0
10   40258   10        4000  2010-01-04  2010-11-30  2010-11-04    0       0
11   40258   11        4000  2010-01-04  2010-12-31  2010-12-04    0       0
12   40258   12        4000  2010-01-04  2011-01-31  2011-01-04    0       0
13   40258   13        4000  2010-01-04  2011-02-28  2011-02-04    0       0
14   40258   14        4000  2010-01-04  2011-03-31  2011-03-04    0       0
15   40258   15        4000  2010-01-04  2011-04-30  2011-04-04    0       0
16   40258   16        4000  2010-01-04  2011-05-31  2011-05-04    0       0
17   40258   17        4000  2010-01-04  2011-06-30  2011-06-04    0       0
18   40258   18        4000  2010-01-04  2011-07-31  2011-07-04    0       0
19   40258   19        4000  2010-01-04  2011-08-31  2011-08-04    0       0
20   40258   20        4000  2010-01-04  2011-09-30  2011-09-04    0       0
21   40258   21        4000  2010-01-04  2011-10-31  2011-10-04    0       0
22   40258   22        4000  2010-01-04  2011-11-30  2011-11-04    0       0
23   40258   23        4000  2010-01-04  2011-12-31  2011-12-04    0       0
24   40258   24        4000  2010-01-04  2012-01-31  2012-01-04    0       0
25   40258   25        4000  2010-01-04  2012-02-29  2012-02-04    0       0
26   40258   26        4000  2010-01-04  2012-03-31  2012-03-04    0       0
27   40258   27        4000  2010-01-04  2012-04-30  2012-04-04    0       0
28   40258   28        4000  2010-01-04  2012-05-31  2012-05-04    0       0
29   40258   29        4000  2010-01-04  2012-06-30  2012-06-04    0       0
30   40258   30        4000  2010-01-04  2012-07-31  2012-07-04    0       0
31   40258   31        4000  2010-01-04  2012-08-31  2012-08-04    0       0
32   40258   32        4000  2010-01-04  2012-09-30  2012-09-04    0       0
33   40258   33        4000  2010-01-04  2012-10-31  2012-10-04    0       0
34   40258   34        4000  2010-01-04  2012-11-30  2012-11-04    0       0
35   40258   35        4000  2010-01-04  2012-12-31  2012-12-04    0       0
36   40258   36        4000  2010-01-04  2013-01-31  2013-01-04    0       0

In [13]:
# I see that my initial assumption that having NaN in the due date as "missing" data is not very accurate.
# In case of loan 40258, the only missing due date is the very first month, the day loan was originated, which makes
# sense. If issued on the 4th of January, this would be due on the 2nd of February.

In [14]:
# I want to verify that I am correct with my above finding. I will pick a random number
# and investigate it like I did above.

In [15]:
# Pick one index from a Gaussian
rix = int(abs(np.ceil(np.random.normal()*10000)))
raw_data.loc[raw_data['loanId']==nan_loanIds[rix]]

,loanId,mob,loanAmount,origDate,obsDate,dueDate,dpd,dpdEom
166673,47715,0,2500,2011-03-14,2011-03-31,NaN,0,0
166674,47715,1,2500,2011-03-14,2011-04-30,2011-04-14,0,0
166675,47715,2,2500,2011-03-14,2011-05-31,2011-05-14,0,0
166676,47715,3,2500,2011-03-14,2011-06-30,2011-06-14,0,0
166677,47715,4,2500,2011-03-14,2011-07-31,2011-07-14,0,0
166678,47715,5,2500,2011-03-14,2011-08-31,2011-08-14,0,0
166679,47715,6,2500,2011-03-14,2011-09-30,2011-09-14,0,0

In [16]:
# The above snippet shows that the point I made earlier is on point.
# I created about ~10 random numbers and got a similar result.

In [17]:
# So far I did quite a bit of work but my earlier assumption of dueDate NaN being problematic was not accurate.
# It is not all that bad, this allowed me to explore the data and understand how each individual loan is structured.

In [18]:
# I think I will be able to understand the data better and spot problems easier if I focus on individual loans.
# The best way to do this is the sort the data frame on loanId AND mob as mob sequentially increases

In [19]:
sorted_data = raw_data.sort_values(by=['loanId', 'mob'])
sorted_data.head()

   loanId  mob  loanAmount    origDate     obsDate     dueDate  dpd  dpdEom
0   40258    0        4000  2010-01-04  2010-01-31         NaN    0       0
1   40258    1        4000  2010-01-04  2010-02-28  2010-02-04    0       0
2   40258    2        4000  2010-01-04  2010-03-31  2010-03-04    0       0
3   40258    3        4000  2010-01-04  2010-04-30  2010-04-04    0       0
4   40258    4        4000  2010-01-04  2010-05-31  2010-05-04    0       0

In [20]:
sorted_data.tail()

,loanId,mob,loanAmount,origDate,obsDate,dueDate,dpd,dpdEom
12491640,813384,1,5500,2017-05-31,2017-06-30,2017-06-30,0,0
12491641,813387,0,2000,2017-05-31,2017-05-31,NaN,0,0
12491642,813387,1,2000,2017-05-31,2017-06-30,2017-06-30,0,0
12491643,813390,0,11000,2017-05-31,2017-05-31,NaN,0,0
12491644,813390,1,11000,2017-05-31,2017-06-30,2017-06-30,0,0

In [21]:
# Once I sorted the data and verified it's been sorted properly, I started to explore it further.
# What I mean by further is basically paginate using the indexes and look for abnormalities.
# As I was going along, I noticed a potential issue with the 'dpd'

sorted_data.iloc[50:80]

    loanId  mob  loanAmount    origDate     obsDate     dueDate  dpd  dpdEom
50   40261   13        1000  2010-01-04  2011-02-28  2011-02-04    0       0
51   40261   14        1000  2010-01-04  2011-03-31  2011-03-04    0       0
52   40261   15        1000  2010-01-04  2011-04-30  2011-04-04    0       0
53   40261   16        1000  2010-01-04  2011-05-31  2011-05-04    0       0
54   40261   17        1000  2010-01-04  2011-06-30  2011-06-04    0       0
55   40261   18        1000  2010-01-04  2011-07-31  2011-07-04    0       0
56   40261   19        1000  2010-01-04  2011-08-31  2011-08-04    0       0
57   40261   20        1000  2010-01-04  2011-09-30  2011-09-04    0       0
58   40261   21        1000  2010-01-04  2011-10-31  2011-10-04    0       0
59   40261   22        1000  2010-01-04  2011-11-30  2011-11-04   11       0
60   40261   23        1000  2010-01-04  2011-12-31  2011-12-04    0       0
61   40261   24        1000  2010-01-04  2012-01-31  2012-01-04    0       0
62   40261   25        1000  2010-01-04  2012-02-29  2012-02-04    0       0
63   40261   26        1000  2010-01-04  2012-03-31  2012-03-04    0       0
64   40261   27        1000  2010-01-04  2012-04-30  2012-04-04    0       0
65   40261   28        1000  2010-01-04  2012-05-31  2012-05-04   11       0
66   40261   29        1000  2010-01-04  2012-06-30  2012-06-04    0       0
67   40261   30        1000  2010-01-04  2012-07-31  2012-07-04    0       0
68   40261   31        1000  2010-01-04  2012-08-31  2012-08-04    0       0
69   40261   32        1000  2010-01-04  2012-09-30  2012-09-04    0       0
70   40264    0        1000  2010-01-04  2010-01-31         NaN    0       0
71   40264    1        1000  2010-01-04  2010-02-28  2010-02-04    0       0
72   40264    2        1000  2010-01-04  2010-03-31  2010-03-04    0       0
73   40264    3        1000  2010-01-04  2010-04-30  2010-04-04    0       0
74   40264    4        1000  2010-01-04  2010-05-31  2010-05-04   23       0
75   40264    5        1000  2010-01-04  2010-06-30  2010-06-04   57      57
76   40264    6        1000  2010-01-04  2010-07-31  2010-07-04   88      88
77   40264    7        1000  2010-01-04  2010-08-31  2010-08-04  119     119
78   40264    8        1000  2010-01-04  2010-09-30  2010-09-04  121       0
79   40267    0        1500  2010-01-04  2010-01-31         NaN    0       0

In [22]:
sorted_data.iloc[475:500]

     loanId  mob  loanAmount    origDate     obsDate     dueDate  dpd  dpdEom
475   40291    0        1500  2010-01-06  2010-01-31         NaN    0       0
476   40291    1        1500  2010-01-06  2010-02-28  2010-02-06    0       0
477   40291    2        1500  2010-01-06  2010-03-31  2010-03-06    0       0
478   40291    3        1500  2010-01-06  2010-04-30  2010-04-06    0       0
479   40291    4        1500  2010-01-06  2010-05-31  2010-05-06    0       0
480   40291    5        1500  2010-01-06  2010-06-30  2010-06-06    0       0
481   40291    6        1500  2010-01-06  2010-07-31  2010-07-06    0       0
482   40291    7        1500  2010-01-06  2010-08-31  2010-08-06    0       0
483   40291    8        1500  2010-01-06  2010-09-30  2010-09-06    0       0
484   40291    9        1500  2010-01-06  2010-10-31  2010-10-06    7       0
485   40291   10        1500  2010-01-06  2010-11-30  2010-11-06   23       0
486   40291   11        1500  2010-01-06  2010-12-31  2010-12-06   55      55
487   40291   12        1500  2010-01-06  2011-01-31  2011-01-06   86      86
488   40291   13        1500  2010-01-06  2011-02-28  2011-02-06  114     114
489   40291   14        1500  2010-01-06  2011-03-31  2011-03-06  119       0
490   40292    0        3000  2010-01-04  2010-01-31         NaN    0       0
491   40292    1        3000  2010-01-04  2010-02-28  2010-02-04    0       0
492   40292    2        3000  2010-01-04  2010-03-31  2010-03-04    0       0
493   40292    3        3000  2010-01-04  2010-04-30  2010-04-04    0       0
494   40292    4        3000  2010-01-04  2010-05-31  2010-05-04    0       0
495   40292    5        3000  2010-01-04  2010-06-30  2010-06-04    0       0
496   40292    6        3000  2010-01-04  2010-07-31  2010-07-04    0       0
497   40292    7        3000  2010-01-04  2010-08-31  2010-08-04    0       0
498   40292    8        3000  2010-01-04  2010-09-30  2010-09-04    0       0
499   40292    9        3000  2010-01-04  2010-10-31  2010-10-04    0       0

In [23]:
# Lets focus on loanId=40264, one of the loans I think is problematic
loan40264 = sorted_data[sorted_data['loanId']==40264]

In [24]:
loan40264

    loanId  mob  loanAmount    origDate     obsDate     dueDate  dpd  dpdEom
70   40264    0        1000  2010-01-04  2010-01-31         NaN    0       0
71   40264    1        1000  2010-01-04  2010-02-28  2010-02-04    0       0
72   40264    2        1000  2010-01-04  2010-03-31  2010-03-04    0       0
73   40264    3        1000  2010-01-04  2010-04-30  2010-04-04    0       0
74   40264    4        1000  2010-01-04  2010-05-31  2010-05-04   23       0
75   40264    5        1000  2010-01-04  2010-06-30  2010-06-04   57      57
76   40264    6        1000  2010-01-04  2010-07-31  2010-07-04   88      88
77   40264    7        1000  2010-01-04  2010-08-31  2010-08-04  119     119
78   40264    8        1000  2010-01-04  2010-09-30  2010-09-04  121       0

 In the README.txt, dpd is defined as:
 
 dpd : 'Days Past Due', measures the worst status achieved for a loan
**within the calendar month** in terms of days late. 'dpd' is a monthly
maximum of a daily series you don't have access to. The daily days
past due variable counts the number of days the oldest due payment is late.


For instance, from 2010-05-31 to 2010-06-30, 30 days have elapsed and no payments have been made towards the loan.When the loan is observed at 2010-06-30, the dpd value is at 57 compared to 23 30 days earlier. 

If I look at 2010-06-30	(dpd: 57) and 2010-07-31(dpd: 88), I observe that in this interval no payment is done like the earlier case and 31 days have passed. 88-57=31 which is equal to the number of days elapsed, which tells me there is something wrong with the increments with the dpd reporting on 2010-06-30.

In [25]:
# I need to calculate dpd properly, how do I do that? I will figure out on this small data frame
# below and apply it globally once I show it works:

loan40264 = sorted_data[sorted_data['loanId']==40264]
# First of all, etc.:

# 1.Convert all dates that are str to datetime object to do subtractions 
loan40264['obsDate' ] =  pd.to_datetime(loan40264['obsDate'])

# 2. Ensure the dpd diff does not exceede the number of days
# Calculate rolling number of days 

mob_size = loan40264.shape[0]
for i in range(mob_size-1):
    dpd0 = loan40264[loan40264['mob']==i]['dpd']
    dpd1 = loan40264[loan40264['mob']==i+1]['dpd']
    x = dpd1.values - dpd0.values
    dpd_diff = x[0]
    ts = loan40264[loan40264['mob']==i+1].iloc[0]['obsDate'] - loan40264[loan40264['mob']==i].iloc[0]['obsDate']
    days_diff = ts.days
    eom = loan40264[loan40264['mob']==i+1]['dpdEom'].values[0]
    
    #  Make sure the debt is not paid dpdEom !=0 and the diff issue explained above exists
    if days_diff < dpd_diff and eom != 0:
        actual =  loan40264[loan40264['mob']==i]['dpd'].values[0] + days_diff
        loan40264 = loan40264.replace(dpd1.values[0], actual)
loan40264

/Users/armanarkilic/anaconda/envs/dev/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

    loanId  mob  loanAmount    origDate    obsDate     dueDate  dpd  dpdEom
70   40264    0        1000  2010-01-04 2010-01-31         NaN    0       0
71   40264    1        1000  2010-01-04 2010-02-28  2010-02-04    0       0
72   40264    2        1000  2010-01-04 2010-03-31  2010-03-04    0       0
73   40264    3        1000  2010-01-04 2010-04-30  2010-04-04    0       0
74   40264    4        1000  2010-01-04 2010-05-31  2010-05-04   23       0
75   40264    5        1000  2010-01-04 2010-06-30  2010-06-04   53      53
76   40264    6        1000  2010-01-04 2010-07-31  2010-07-04   84      84
77   40264    7        1000  2010-01-04 2010-08-31  2010-08-04  115     115
78   40264    8        1000  2010-01-04 2010-09-30  2010-09-04  121       0

In [26]:
# As you can see above, the code snippet works and modified the values properly, fixing the time issue.Updating both dpd
# and dpdEom appropriately.
# However, this only works for this specific data frame I created using local data. 
# I need to generalize it to all 

# PS: The warning is due to pandas API changes. I am aware of this issue and how to fix it but I think at this point
# I decided not to spend time on it. I am aware warnings eventually turn into errors and would definitely address it
# if time permitted.

In [27]:
# From the local dataframe operations above, I created a function to apply globally
def fix_dpd(df):
    # First of all, etc.:

    # 1.Convert all dates that are str to datetime object to do subtractions 
    df['obsDate' ] =  pd.to_datetime(df['obsDate'])

    # 2. Ensure the dpd diff does not exceede the number of days
    # Calculate rolling number of days 
    issue_ctr = 0

    mob_size = df.shape[0]
    for i in range(mob_size-1):
        dpd0 = df[df['mob']==i]['dpd']
        dpd1 = df[df['mob']==i+1]['dpd']
        x = dpd1.values - dpd0.values
        dpd_diff = x[0]
        ts = df[df['mob']==i+1].iloc[0]['obsDate'] - df[df['mob']==i].iloc[0]['obsDate']
        days_diff = ts.days
        eom = df[df['mob']==i+1]['dpdEom'].values[0]

        #  Make sure the debt is not paid dpdEom !=0 and the diff issue explained above exists
        if days_diff < dpd_diff and eom != 0:
            actual =  df[df['mob']==i]['dpd'].values[0] + days_diff
            df = df.replace(dpd1.values[0], actual)
            issue_ctr += 1 # to collect statistics
    return issue_ctr

In [28]:
# Get all non-zero dpds and find the loanIds corresponding to these
# I do this using a simple one liner that allows me to isolate loans with non-zero dpd and use uniqueness of the
# loanIds to extract what I need.

non_zero_dbds = sorted_data[sorted_data['dpd']!=0].loanId.unique()
non_zero_dbds

array([ 40261,  40264,  40267, ..., 806484, 806601, 807039])

In [29]:
# Lets verify the indexes I extracted above are accurate visually!

df = sorted_data[sorted_data['loanId']==non_zero_dbds[40]]
df

      loanId  mob  loanAmount    origDate     obsDate     dueDate  dpd  dpdEom
3272   40415    0        3000  2010-01-19  2010-01-31         NaN    0       0
3273   40415    1        3000  2010-01-19  2010-02-28  2010-02-19    0       0
3274   40415    2        3000  2010-01-19  2010-03-31  2010-03-19    0       0
3275   40415    3        3000  2010-01-19  2010-04-30  2010-04-19    0       0
3276   40415    4        3000  2010-01-19  2010-05-31  2010-05-19    0       0
3277   40415    5        3000  2010-01-19  2010-06-30  2010-06-19    0       0
3278   40415    6        3000  2010-01-19  2010-07-31  2010-07-19    0       0
3279   40415    7        3000  2010-01-19  2010-08-31  2010-08-19    0       0
3280   40415    8        3000  2010-01-19  2010-09-30  2010-09-19    0       0
3281   40415    9        3000  2010-01-19  2010-10-31  2010-10-19    0       0
3282   40415   10        3000  2010-01-19  2010-11-30  2010-11-19    0       0
3283   40415   11        3000  2010-01-19  2010-12-31  2010-12-19   10       0
3284   40415   12        3000  2010-01-19  2011-01-31  2011-01-19   17      12
3285   40415   13        3000  2010-01-19  2011-02-28  2011-02-19   19       9
3286   40415   14        3000  2010-01-19  2011-03-31  2011-03-19   40      40
3287   40415   15        3000  2010-01-19  2011-04-30  2011-04-19   70      70
3288   40415   16        3000  2010-01-19  2011-05-31  2011-05-19   79      42
3289   40415   17        3000  2010-01-19  2011-06-30  2011-06-19   72      72
3290   40415   18        3000  2010-01-19  2011-07-31  2011-07-19   78      73
3291   40415   19        3000  2010-01-19  2011-08-31  2011-08-19   81       0
3292   40415   20        3000  2010-01-19  2011-09-30  2011-09-19    0       0
3293   40415   21        3000  2010-01-19  2011-10-31  2011-10-19    0       0
3294   40415   22        3000  2010-01-19  2011-11-30  2011-11-19   11      11
3295   40415   23        3000  2010-01-19  2011-12-31  2011-12-19   42      42
3296   40415   24        3000  2010-01-19  2012-01-31  2012-01-19   73      73
3297   40415   25        3000  2010-01-19  2012-02-29  2012-02-19  102     102
3298   40415   26        3000  2010-01-19  2012-03-31  2012-03-19  121       0

In [30]:
# Now, let's find out whether the function I defined works on these smaller data frames

fix_dpd(df)
df

/Users/armanarkilic/anaconda/envs/dev/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

      loanId  mob  loanAmount    origDate    obsDate     dueDate  dpd  dpdEom
3272   40415    0        3000  2010-01-19 2010-01-31         NaN    0       0
3273   40415    1        3000  2010-01-19 2010-02-28  2010-02-19    0       0
3274   40415    2        3000  2010-01-19 2010-03-31  2010-03-19    0       0
3275   40415    3        3000  2010-01-19 2010-04-30  2010-04-19    0       0
3276   40415    4        3000  2010-01-19 2010-05-31  2010-05-19    0       0
3277   40415    5        3000  2010-01-19 2010-06-30  2010-06-19    0       0
3278   40415    6        3000  2010-01-19 2010-07-31  2010-07-19    0       0
3279   40415    7        3000  2010-01-19 2010-08-31  2010-08-19    0       0
3280   40415    8        3000  2010-01-19 2010-09-30  2010-09-19    0       0
3281   40415    9        3000  2010-01-19 2010-10-31  2010-10-19    0       0
3282   40415   10        3000  2010-01-19 2010-11-30  2010-11-19    0       0
3283   40415   11        3000  2010-01-19 2010-12-31  2010-12-19   10       0
3284   40415   12        3000  2010-01-19 2011-01-31  2011-01-19   17      12
3285   40415   13        3000  2010-01-19 2011-02-28  2011-02-19   19       9
3286   40415   14        3000  2010-01-19 2011-03-31  2011-03-19   40      40
3287   40415   15        3000  2010-01-19 2011-04-30  2011-04-19   70      70
3288   40415   16        3000  2010-01-19 2011-05-31  2011-05-19   79      42
3289   40415   17        3000  2010-01-19 2011-06-30  2011-06-19   72      72
3290   40415   18        3000  2010-01-19 2011-07-31  2011-07-19   78      73
3291   40415   19        3000  2010-01-19 2011-08-31  2011-08-19   81       0
3292   40415   20        3000  2010-01-19 2011-09-30  2011-09-19    0       0
3293   40415   21        3000  2010-01-19 2011-10-31  2011-10-19    0       0
3294   40415   22        3000  2010-01-19 2011-11-30  2011-11-19   11      11
3295   40415   23        3000  2010-01-19 2011-12-31  2011-12-19   42      42
3296   40415   24        3000  2010-01-19 2012-01-31  2012-01-19   73      73
3297   40415   25        3000  2010-01-19 2012-02-29  2012-02-19  102     102
3298   40415   26        3000  2010-01-19 2012-03-31  2012-03-19  121       0

 As we can see above, the function works properly! It handles corner cases that there is no issue with data or data is simply zero

In [31]:
# Now that we know this function works, I can apply it to the entire dataframe. Below, I am showing the basic idea
# that I am using. if you recall above, I am using small data frames to figure out the problems with dpd. In order to
# do this, I am decomposing my data frame into smaller data frames. Below is a demo of the technique I use to do this.
# I like showing it with small data frames so that it will make sense to you later as I tackle as a whole.


df1 = sorted_data[sorted_data['loanId']==non_zero_dbds[40]]
df2 = sorted_data[sorted_data['loanId']==non_zero_dbds[41]]
fix_dpd(df1)
fix_dpd(df2)
frames = [df1, df2]
result = pd.concat(frames)

/Users/armanarkilic/anaconda/envs/dev/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [32]:
result

      loanId  mob  loanAmount    origDate    obsDate     dueDate  dpd  dpdEom
3272   40415    0        3000  2010-01-19 2010-01-31         NaN    0       0
3273   40415    1        3000  2010-01-19 2010-02-28  2010-02-19    0       0
3274   40415    2        3000  2010-01-19 2010-03-31  2010-03-19    0       0
3275   40415    3        3000  2010-01-19 2010-04-30  2010-04-19    0       0
3276   40415    4        3000  2010-01-19 2010-05-31  2010-05-19    0       0
3277   40415    5        3000  2010-01-19 2010-06-30  2010-06-19    0       0
3278   40415    6        3000  2010-01-19 2010-07-31  2010-07-19    0       0
3279   40415    7        3000  2010-01-19 2010-08-31  2010-08-19    0       0
3280   40415    8        3000  2010-01-19 2010-09-30  2010-09-19    0       0
3281   40415    9        3000  2010-01-19 2010-10-31  2010-10-19    0       0
3282   40415   10        3000  2010-01-19 2010-11-30  2010-11-19    0       0
3283   40415   11        3000  2010-01-19 2010-12-31  2010-12-19   10       0
3284   40415   12        3000  2010-01-19 2011-01-31  2011-01-19   17      12
3285   40415   13        3000  2010-01-19 2011-02-28  2011-02-19   19       9
3286   40415   14        3000  2010-01-19 2011-03-31  2011-03-19   40      40
3287   40415   15        3000  2010-01-19 2011-04-30  2011-04-19   70      70
3288   40415   16        3000  2010-01-19 2011-05-31  2011-05-19   79      42
3289   40415   17        3000  2010-01-19 2011-06-30  2011-06-19   72      72
3290   40415   18        3000  2010-01-19 2011-07-31  2011-07-19   78      73
3291   40415   19        3000  2010-01-19 2011-08-31  2011-08-19   81       0
3292   40415   20        3000  2010-01-19 2011-09-30  2011-09-19    0       0
3293   40415   21        3000  2010-01-19 2011-10-31  2011-10-19    0       0
3294   40415   22        3000  2010-01-19 2011-11-30  2011-11-19   11      11
3295   40415   23        3000  2010-01-19 2011-12-31  2011-12-19   42      42
3296   40415   24        3000  2010-01-19 2012-01-31  2012-01-19   73      73
3297   40415   25        3000  2010-01-19 2012-02-29  2012-02-19  102     102
3298   40415   26        3000  2010-01-19 2012-03-31  2012-03-19  121       0
3299   40416    0        1850  2010-01-15 2010-01-31         NaN    0       0
3300   40416    1        1850  2010-01-15 2010-02-28  2010-02-15    0       0
3301   40416    2        1850  2010-01-15 2010-03-31  2010-03-15    0       0
3302   40416    3        1850  2010-01-15 2010-04-30  2010-04-15    0       0
3303   40416    4        1850  2010-01-15 2010-05-31  2010-05-15    0       0
3304   40416    5        1850  2010-01-15 2010-06-30  2010-06-15    0       0
3305   40416    6        1850  2010-01-15 2010-07-31  2010-07-15    0       0
3306   40416    7        1850  2010-01-15 2010-08-31  2010-08-15    0       0
3307   40416    8        1850  2010-01-15 2010-09-30  2010-09-15   15      15
3308   40416    9        1850  2010-01-15 2010-10-31  2010-10-15   46      46
3309   40416   10        1850  2010-01-15 2010-11-30  2010-11-15   62      46
3310   40416   11        1850  2010-01-15 2010-12-31  2010-12-15   77      77
3311   40416   12        1850  2010-01-15 2011-01-31  2011-01-15  106      77
3312   40416   13        1850  2010-01-15 2011-02-28  2011-02-15  105     105
3313   40416   14        1850  2010-01-15 2011-03-31  2011-03-15  121       0

In [33]:
# This captures all of the rows with dpd=0
df4 = sorted_data[sorted_data['dpd']==0]

In [35]:
dfs = []
dfs.append(df4)
for i in non_zero_dbds:
    df = sorted_data[sorted_data['loanId']==non_zero_dbds[i]]
    fix_dpd(df)
    dfs.append(df)
# This method is very slow but works. I would do it differently if time permitted!

/Users/armanarkilic/anaconda/envs/dev/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [37]:
cleaned_up_data = pd.concat(dfs)

In [38]:
cleaned_up_data.head()

   loanId  mob  loanAmount    origDate     obsDate     dueDate  dpd  dpdEom
0   40258    0        4000  2010-01-04  2010-01-31         NaN    0       0
1   40258    1        4000  2010-01-04  2010-02-28  2010-02-04    0       0
2   40258    2        4000  2010-01-04  2010-03-31  2010-03-04    0       0
3   40258    3        4000  2010-01-04  2010-04-30  2010-04-04    0       0
4   40258    4        4000  2010-01-04  2010-05-31  2010-05-04    0       0

In [39]:
cleaned_up_data.shape

(12491645, 8)

In [40]:
# Next, I check whether there are any loans in the data that are deragatory dpd >120 and whether there are any loans 
# with dpd/dpdEom < 5 as these loans should also have a zero dpdEom



# First check if any of the loans have dpd > 120:
cleaned_up_data[cleaned_up_data['dpd']>120]

,loanId,mob,loanAmount,origDate,obsDate,dueDate,dpd,dpdEom
78,40264,8,1000,2010-01-04,2010-09-30,2010-09-04,121,0
414,40288,35,1200,2010-01-06,2012-12-31,2012-12-06,121,0
566,40294,26,1000,2010-01-06,2012-03-31,2012-03-06,121,0
605,40296,33,3000,2010-01-06,2012-10-31,2012-10-06,121,0
802,40304,15,4000,2010-01-06,2011-04-30,2011-04-06,121,0
1065,40313,7,3500,2010-01-07,2010-08-31,2010-08-07,121,0
1138,40316,37,2200,2010-01-07,2013-02-28,2013-02-07,121,0
1460,40330,15,7000,2010-01-08,2011-04-30,2011-04-08,121,0
1565,40336,15,10000,2010-01-11,2011-04-30,2011-04-11,121,0
1608,40340,36,2500,2010-01-08,2013-01-31,2013-01-08,121,0
1624,40343,15,2750,2010-01-08,2011-04-30,2011-04-08,121,0
1789,40355,16,3000,2010-01-11,2011-05-31,2011-05-11,121,0
1948,40360,37,4000,2010-01-11,2013-02-28,2013-02-11,121,0
2041,40364,17,1200,2010-01-12,2011-06-30,2011-06-12,121,0
2351,40376,21,1400,2010-01-13,2011-10-31,2011-10-13,121,0
2375,40377,23,1000,2010-01-13,2011-12-31,2011-12-13,121,0
2416,40378,40,4000,2010-01-12,2013-05-31,2013-05-12,121,0
2458,40380,14,1000,2010-01-13,2011-03-31,2011-03-13,121,0
2471,40381,12,3500,2010-01-12,2011-01-31,2011-01-12,121,0
2679,40391,12,4200,2010-01-14,2011-01-31,2011-01-14,121,0
2877,40400,12,1000,2010-01-15,2011-01-31,2011-01-15,121,0
3298,40415,26,3000,2010-01-19,2012-03-31,2012-03-19,121,0
3313,40416,14,1850,2010-01-15,2011-03-31,2011-03-15,121,0
3429,40421,24,9500,2010-01-19,2012-01-31,2012-01-19,121,0
3554,40426,7,1000,2010-01-15,2010-08-31,2010-08-15,121,0
3594,40428,16,7000,2010-01-19,2011-05-31,2011-05-19,132,132
3595,40428,17,7000,2010-01-19,2011-06-30,2011-06-19,152,0
3603,40429,7,3000,2010-01-15,2010-08-31,2010-08-15,121,0
3714,40434,8,5500,2010-01-19,2010-09-30,2010-09-19,121,0
4077,40449,31,1200,2010-01-20,2012-08-31,2012-08-20,121,0
...,...,...,...,...,...,...,...,...
6869696,345942,16,4000,2015-06-03,2016-10-31,2016-10-03,125,0
7165616,360853,14,15000,2015-06-23,2016-08-31,2016-08-23,122,0
7393404,372662,12,25000,2015-07-07,2016-07-31,2016-07-07,122,0
7475811,376961,15,15000,2015-07-13,2016-10-31,2016-10-13,122,0
7565212,384614,14,4000,2015-07-17,2016-09-30,2016-09-17,125,0
7690156,391448,14,20000,2015-07-24,2016-09-30,2016-09-24,135,0
7740017,393987,14,4000,2015-07-28,2016-09-30,2016-09-28,123,0
8073282,412624,14,7000,2015-08-18,2016-10-31,2016-10-18,123,0
8085739,413265,21,28000,2015-08-13,2017-05-31,2017-05-13,122,0
8263500,423434,12,15000,2015-08-31,2016-08-31,2016-08-31,121,0
8689850,447553,11,5000,2015-09-28,2016-08-31,2016-08-28,125,0
9035469,467410,16,9901,2015-10-16,2017-02-28,2017-02-16,146,74
9045848,467998,11,35000,2015-10-19,2016-09-30,2016-09-19,155,0
9117647,472102,12,10000,2015-10-22,2016-10-31,2016-10-22,124,0
9241380,479224,11,15000,2015-10-29,2016-09-30,2016-09-29,122,0
9428911,490428,11,15000,2015-11-05,2016-10-31,2016-10-05,127,0
9465452,492670,8,6000,2015-11-13,2016-07-31,2016-07-13,134,0
9511260,495471,9,12000,2015-11-12,2016-08-31,2016-08-12,220,0
9565259,498740,8,12100,2015-11-18,2016-07-31,2016-07-18,124,0
9823996,514738,9,15000,2015-12-07,2016-09-30,2016-09-07,132,0
9851399,516480,7,25000,2015-12-04,2016-07-31,2016-07-04,125,0
9871826,517774,7,7500,2015-12-09,2016-07-31,2016-07-09,128,0
9957076,523188,8,15000,2015-12-10,2016-08-31,2016-08-10,148,0
10164231,536454,8,22000,2015-12-23,2016-08-31,2016-08-23,122,0
10247590,541920,10,12000,2015-12-31,2016-10-31,2016-10-31,132,0
10420442,553547,7,6000,2016-01-19,2016-08-31,2016-08-19,122,0
10438203,554772,7,15000,2016-01-14,2016-08-31,2016-08-14,123,0
10908455,604296,8,18000,2016-02-17,2016-10-31,2016-10-17,123,0
10936653,606239,7,10000,2016-02-22,2016-09-30,2016-09-22,133,0
11016663,611741,7,10000,2016-02-29,2016-09-30,2016-09-29,121,0

In [41]:
# As we can see above 9071 of these loans have dbd > 120! We know these loans should be defaulted.
pct_of_dbd_120 = cleaned_up_data[cleaned_up_data['dpd']>120].shape[0] / cleaned_up_data.shape[0] * 100
print('% of the loans that are unpaid more than 120 days and should expire', pct_of_dbd_120)

% of the loans that are unpaid more than 120 days and should expire 0.07261653689325945

In [42]:
# Drop these loans that already deragatory!
cleaned_up_data = cleaned_up_data.drop(cleaned_up_data['dpd']>120)

In [43]:
# Now, check the ratio dpd/dpdEom
dpd_positives = cleaned_up_data[cleaned_up_data['dpd']!=0]

In [44]:
ratios = dpd_positives.dpd/dpd_positives.dpdEom
ratios = ratios.replace(np.inf, 0)
np.sum(ratios>=5)

2213

In [45]:
# We observe that dpd/dpdEom ratios that are 5 or more are not reported as zero. The percentage of this is:
np.sum(ratios>=5)/cleaned_up_data.shape[0] * 100

0.01771584410473466

In [46]:
# We deal with this by setting all of these values to zero as they should've been done in the first place
cleaned_up_data[cleaned_up_data['dpd']/cleaned_up_data['dpdEom']>=5]

,loanId,mob,loanAmount,origDate,obsDate,dueDate,dpd,dpdEom
59,40261,22,1000,2010-01-04,2011-11-30,2011-11-04,11,0
65,40261,28,1000,2010-01-04,2012-05-31,2012-05-04,11,0
74,40264,4,1000,2010-01-04,2010-05-31,2010-05-04,23,0
78,40264,8,1000,2010-01-04,2010-09-30,2010-09-04,121,0
84,40267,5,1500,2010-01-04,2010-06-30,2010-06-04,9,0
94,40267,15,1500,2010-01-04,2011-04-30,2011-04-04,17,0
414,40288,35,1200,2010-01-06,2012-12-31,2012-12-06,121,0
484,40291,9,1500,2010-01-06,2010-10-31,2010-10-06,7,0
485,40291,10,1500,2010-01-06,2010-11-30,2010-11-06,23,0
489,40291,14,1500,2010-01-06,2011-03-31,2011-03-06,119,0
523,40292,33,3000,2010-01-04,2012-10-31,2012-10-04,11,0
552,40294,12,1000,2010-01-06,2011-01-31,2011-01-06,12,0
559,40294,19,1000,2010-01-06,2011-08-31,2011-08-06,49,0
560,40294,20,1000,2010-01-06,2011-09-30,2011-09-06,8,0
566,40294,26,1000,2010-01-06,2012-03-31,2012-03-06,121,0
587,40296,15,3000,2010-01-06,2011-04-30,2011-04-06,14,0
592,40296,20,3000,2010-01-06,2011-09-30,2011-09-06,23,0
593,40296,21,3000,2010-01-06,2011-10-31,2011-10-06,11,0
605,40296,33,3000,2010-01-06,2012-10-31,2012-10-06,121,0
712,40301,7,1000,2010-01-05,2010-08-31,2010-08-05,99,0
714,40301,9,1000,2010-01-05,2010-10-31,2010-10-05,7,0
721,40301,16,1000,2010-01-05,2011-05-31,2011-05-05,11,0
726,40301,21,1000,2010-01-05,2011-10-31,2011-10-05,6,0
728,40301,23,1000,2010-01-05,2011-12-31,2011-12-05,7,0
793,40304,6,4000,2010-01-06,2010-07-31,2010-07-06,9,0
795,40304,8,4000,2010-01-06,2010-09-30,2010-09-06,22,0
797,40304,10,4000,2010-01-06,2010-11-30,2010-11-06,71,0
798,40304,11,4000,2010-01-06,2010-12-31,2010-12-06,23,0
802,40304,15,4000,2010-01-06,2011-04-30,2011-04-06,121,0
902,40308,16,4750,2010-01-07,2011-05-31,2011-05-07,5,0
...,...,...,...,...,...,...,...,...
12473836,800101,1,10000,2017-05-19,2017-06-30,2017-06-19,5,0
12473870,800118,1,15000,2017-05-16,2017-06-30,2017-06-16,6,0
12473880,800123,1,2250,2017-05-17,2017-06-30,2017-06-17,12,0
12473938,800152,1,15000,2017-05-19,2017-06-30,2017-06-19,9,0
12473962,800164,1,5000,2017-05-19,2017-06-30,2017-06-19,7,0
12474398,800383,1,20000,2017-05-19,2017-06-30,2017-06-19,6,0
12474907,800640,1,30000,2017-05-16,2017-06-30,2017-06-16,10,0
12475236,800805,1,15000,2017-05-16,2017-06-30,2017-06-16,9,0
12475296,800835,1,15000,2017-05-16,2017-06-30,2017-06-16,6,0
12475467,800921,1,8000,2017-05-18,2017-06-30,2017-06-18,7,0
12475666,801021,1,7000,2017-05-17,2017-06-30,2017-06-17,12,0
12475956,801168,1,6000,2017-05-17,2017-06-30,2017-06-17,9,0
12476131,801256,1,2500,2017-05-22,2017-06-30,2017-06-22,5,0
12476231,801306,1,3500,2017-05-17,2017-06-30,2017-06-17,12,0
12476525,801455,1,15000,2017-05-18,2017-06-30,2017-06-18,7,0
12477008,801697,1,5000,2017-05-23,2017-06-30,2017-06-23,6,0
12477385,801886,1,8000,2017-05-23,2017-06-30,2017-06-23,5,0
12479106,802752,1,12000,2017-05-19,2017-06-30,2017-06-19,10,0
12479362,802881,1,7500,2017-05-19,2017-06-30,2017-06-19,9,0
12479671,803036,1,25000,2017-05-22,2017-06-30,2017-06-22,6,0
12480300,803351,1,10000,2017-05-22,2017-06-30,2017-06-22,6,0
12480522,803462,1,7500,2017-05-23,2017-06-30,2017-06-23,5,0
12481119,803762,1,9000,2017-05-23,2017-06-30,2017-06-23,5,0
12481873,804141,1,30000,2017-05-22,2017-06-30,2017-06-22,6,0
12482331,804372,1,2000,2017-05-22,2017-06-30,2017-06-22,7,0
12482419,804416,1,7500,2017-05-23,2017-06-30,2017-06-23,6,0
12483842,805130,1,8000,2017-05-24,2017-06-30,2017-06-24,5,0
12485172,805797,1,15000,2017-05-24,2017-06-30,2017-06-24,5,0
12485860,806142,1,20000,2017-05-24,2017-06-30,2017-06-24,5,0
12486094,806259,1,5000,2017-05-24,2017-06-30,2017-06-24,5,0

In [47]:
cleaned_up_data.to_csv('example.csv')