In [2]:
import pandas as pd
import numpy as np

In [3]:
spy = pd.read_csv("/Users/armanarkilic/Desktop/spy_historical_returns.csv", header=1)

In [4]:
# Simple data formatting
spy['return_pct'] = spy['return_pct'].map(lambda x: x.lstrip('%+').rstrip('%+'))
spy['Value of $1.00 Invested on 1970‑01‑01'] =  spy['return_pct'].map(lambda x: x.lstrip('$+').rstrip('%+$'))

In [5]:
spy.head()

,Year,return_pct,Value of $1.00 Invested on 1970‑01‑01,5 Year Annualized Return,10 Year Annualized Return,15 Year Annualized Return,20 Year Annualized Return,25 Year Annualized Return
0,1970,4.01,4.01,-,-,-,-,-
1,1971,14.31,14.31,-,-,-,-,-
2,1972,18.98,18.98,-,-,-,-,-
3,1973,-14.66,-14.66,-,-,-,-,-
4,1974,-26.47,-26.47,-2.35%,-,-,-,-

In [71]:
spx = spy.iloc[0:45]

In [72]:
spx = spx.apply(pd.to_numeric, errors='ignore')
T = 45
spx['return_pct'] = spx['return_pct'] /100

mean_annual_returns = spx['return_pct'].mean()

var = spx['return_pct'].var()
var

0.030371754979797983

In [73]:
# mean annual returns, hence expected value
mean_annual_returns

0.11960444444444444

In [74]:
# E[ln(1+r)]
x = np.log(1 + mean_annual_returns)
x

0.11297544832299039

In [75]:
# Standard deviation
np.sqrt(var)

0.17427494076831007

In [76]:
eq8_1 = np.log(1+mean_annual_returns) - var/(2*(1+mean_annual_returns)**2)
eq8_1

0.10086080410456161

In [77]:
eq8_2 = mean_annual_returns - var/2
eq8_2

0.10441856695454545

In [98]:
res = 0
for i in range(1,45):
    res += np.log(1 + spx.iloc[i]['return_pct'])
actual = res/T
actual

0.098733332657924819

In [99]:
error = abs(actual - eq8_1) /actual * 100
print('%', error)

% 2.15476515313

In [100]:
error = abs(actual - eq8_2) /actual * 100
print('%', error)

% 5.75817117034