In [202]:
import pandas as pd
import numpy as np

In [203]:
# Import data to pandas dataframe

spy = pd.read_table('/Users/arkilic/Desktop/spy.txt', parse_dates=True,header=0, sep='\t')
spy_design = pd.read_table('/Users/arkilic/Desktop/spy_design.txt',header=0, parse_dates=True, sep='\t')

In [204]:
spy.head() # where spy is a pd.DataFrame obj

                row.names  SPY.Open  SPY.High  SPY.Low  SPY.Close  SPY.Volume
0  1  2008-01-02 09:31:00   146.535   146.645  146.535    146.645      591203
1  2  2008-01-02 09:32:00   146.645   146.685  146.635    146.685      385457
2  3  2008-01-02 09:33:00   146.685   146.775  146.680    146.775      343700
3  4  2008-01-02 09:34:00   146.725   146.755  146.705    146.725      863418
4  5  2008-01-02 09:35:00   146.705   146.775  146.685    146.775      457500

In [205]:
spy_design.head()

,,row.names,returns,returns.WA5,variance,skew,hurst,rets_var,rets_skew
0,1,2008-01-02 09:31:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,2008-01-02 09:32:00,0.707107,0.707107,0.707107,-0.707107,0.000000,0.707107,-0.707107
2,3,2008-01-02 09:33:00,1.034910,1.031794,1.027297,-0.901304,0.000000,1.133169,-1.111012
3,4,2008-01-02 09:34:00,-1.177622,-0.712844,1.407897,1.277819,0.000000,-1.366479,-0.030410
4,5,2008-01-02 09:35:00,0.451147,-0.181499,0.593341,-1.669053,-1.788854,0.854902,-1.641664

In [224]:
def diff_xts(x_ts, lag=1, differences=1, arithmetic=True):
    # Uses something along the lines of numpy.diff for lag
    """
    Parameters
    ----------
    x_ts: pd.DataFrame
        Raw data
    lag: int
        period to difference over
    differences: int
        order of differencing
    arithmetic: bool
        should arithmetic or geometric differencing be used
    """
    if lag != 1:
        raise NotImplementedError('Period other than 1 has not beein implemented yet')
    return np.diff(x_ts) # vectorized diff over given period


#     diff_xts <- function(x_ts, lag=1, ...) {
#         x_ts <- xts::diff.xts(x_ts, lag=lag, ...)
# overloaded from diff.xts func def
#         x_ts[!complete.cases(x_ts), ] <- 0
#         x_ts
#     }  # end d

In [225]:
def run_returns(x_ts, col_umn = 5):
    if len(x_ts.columns) == 6:
        re_turns = x_ts[:]["Bid.Price"] + x_ts[:]["Ask.Price"]
    else:
        re_turns = x_ts[x_ts.columns[::col_umn]]
    return re_turns

In [223]:
s = run_returns(spy)
print(s)

           SPY.Close
0       1    146.645
1       2    146.685
2       3    146.775
3       4    146.725
4       5    146.775
5       6    146.735
6       7    146.595
7       8    146.565
8       9    146.695
9      10    146.775
10     11    146.795
11     12    146.815
12     13    146.930
13     14    146.945
14     15    146.945
15     16    146.905
16     17    146.885
17     18    146.905
18     19    146.855
19     20    146.855
20     21    146.785
21     22    146.785
22     23    146.795
23     24    146.845
24     25    146.855
25     26    146.805
26     27    146.735
27     28    146.615
28     29    146.695
29     30    146.725
..    ...        ...
970   971    141.995
971   972    141.935
972   973    141.975
973   974    142.015
974   975    142.115
975   976    142.135
976   977    142.125
977   978    142.085
978   979    142.195
979   980    142.175
980   981    142.235
981   982    142.295
982   983    142.245
983   984    142.195
984   985    142.175
985   986    142.185
986   987    142.160
987   988    142.155
988   989    142.195
989   990    142.175
990   991    142.135
991   992    142.125
992   993    142.085
993   994    142.085
994   995    142.055
995   996    142.065
996   997    142.065
997   998    141.965
998   999    142.065
999  1000    142.075

[1000 rows x 2 columns]

In [102]:
len(spy.columns)

7

In [128]:
spy[:5]

                row.names  SPY.Open  SPY.High  SPY.Low  SPY.Close  SPY.Volume
0  1  2008-01-02 09:31:00   146.535   146.645  146.535    146.645      591203
1  2  2008-01-02 09:32:00   146.645   146.685  146.635    146.685      385457
2  3  2008-01-02 09:33:00   146.685   146.775  146.680    146.775      343700
3  4  2008-01-02 09:34:00   146.725   146.755  146.705    146.725      863418
4  5  2008-01-02 09:35:00   146.705   146.775  146.685    146.775      457500

In [143]:
spy[spy.columns[::4]]

           SPY.Low
0       1  146.535
1       2  146.635
2       3  146.680
3       4  146.705
4       5  146.685
5       6  146.725
6       7  146.595
7       8  146.555
8       9  146.570
9      10  146.675
10     11  146.725
11     12  146.765
12     13  146.815
13     14  146.925
14     15  146.895
15     16  146.895
16     17  146.885
17     18  146.855
18     19  146.855
19     20  146.835
20     21  146.775
21     22  146.765
22     23  146.785
23     24  146.790
24     25  146.835
25     26  146.775
26     27  146.735
27     28  146.595
28     29  146.605
29     30  146.675
..    ...      ...
970   971  141.995
971   972  141.925
972   973  141.915
973   974  141.945
974   975  142.015
975   976  142.075
976   977  142.115
977   978  142.065
978   979  142.085
979   980  142.175
980   981  142.175
981   982  142.225
982   983  142.245
983   984  142.175
984   985  142.175
985   986  142.155
986   987  142.160
987   988  142.115
988   989  142.145
989   990  142.145
990   991  142.125
991   992  142.085
992   993  142.075
993   994  142.045
994   995  142.045
995   996  142.035
996   997  142.035
997   998  141.965
998   999  141.945
999  1000  142.075

[1000 rows x 2 columns]

In [145]:
import numpy as np
x = np.array([1, 2, 4, 7, 0])

In [147]:
np.diff(x, n=3)

array([  0, -11])