In [1]:
import numpy as np

from dask.dataframe import read_hdf


spy = read_hdf('/Users/armanarkilic/Desktop/spy.hdf5', 'spy')
spy_design = read_hdf('/Users/armanarkilic/Desktop/spy_design.hdf5', 'spy_design')

In [2]:
spy.head()

                     SPY.Open  SPY.High  SPY.Low  SPY.Close  SPY.Volume
TIME
2008-01-02 09:31:00   146.535   146.645  146.535    146.645    591203.0
2008-01-02 09:32:00   146.645   146.685  146.635    146.685    385457.0
2008-01-02 09:33:00   146.685   146.775  146.680    146.775    343700.0
2008-01-02 09:34:00   146.725   146.755  146.705    146.725    863418.0
2008-01-02 09:35:00   146.705   146.775  146.685    146.775    457500.0

In [3]:
def run_returns(x_ts, col_umn = 3):
    if len(x_ts.columns) == 7:
        re_turns = 0.5 * (x_ts[:]["Bid.Price"] + x_ts[:]["Ask.Price"])
    else:
        re_turns = x_ts['SPY.Close']
    return re_turns

In [4]:
np.multiply(np.diff(spy.index.values), 10e-10).shape

(625424,)

In [5]:
re_turns = spy['SPY.Close']

logged_re_turns = np.log(re_turns)
logged_re_turns.head()
intermediate = np.diff(logged_re_turns)

intermediate = np.concatenate(([0], intermediate))
inx = np.array(spy.index.values, dtype=np.float64)


inx = np.array(np.multiply(np.diff(spy.index.values), 10e-10), dtype=np.float64)

inx = np.concatenate(([60], inx))

returns_running = intermediate / inx

def lag_xts(x_ts):
    tmp = x_ts[1:]
    return tmp


returns_advanced = lag_xts(returns_running)
# returns_advanced.name = 'returns_advanced'
print(returns_advanced[:10])

[  4.54550623e-06   1.02228586e-05  -5.67859176e-06   5.67859176e-06
  -4.54271862e-06  -1.59092729e-05  -3.41110657e-06   1.47764223e-05
   9.08667575e-06   2.27089508e-06]

In [6]:

print(spy_design.head())


x = spy_design
y =  returns_advanced[:625325]


print(spy_design.head())

                     returns.WA5  variance      skew     hurst  rets_var
TIME
2008-01-02 09:31:00     0.000000  0.000000  0.000000  0.000000  0.000000
2008-01-02 09:32:00     0.707107  0.707107 -0.707107  0.000000  0.707107
2008-01-02 09:33:00     1.031794  1.027297 -0.901304  0.000000  1.133169
2008-01-02 09:34:00    -0.712844  1.407897  1.277819  0.000000 -1.366479
2008-01-02 09:35:00    -0.181499  0.593341 -1.669053 -1.788854  0.854902
                     returns.WA5  variance      skew     hurst  rets_var
TIME
2008-01-02 09:31:00     0.000000  0.000000  0.000000  0.000000  0.000000
2008-01-02 09:32:00     0.707107  0.707107 -0.707107  0.000000  0.707107
2008-01-02 09:33:00     1.031794  1.027297 -0.901304  0.000000  1.133169
2008-01-02 09:34:00    -0.712844  1.407897  1.277819  0.000000 -1.366479
2008-01-02 09:35:00    -0.181499  0.593341 -1.669053 -1.788854  0.854902

In [7]:
 x = spy_design['2008': '2011']

In [8]:
y = spy['2008': '2011']